.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
  margin: 10px;
}

.nav-header {
  padding: 0px 20px;
}

.nav-header > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-header > ul > li {
  font-size: 10px;
  margin: 10px;
  list-style-type: none;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.res-card {
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  width: 350px;
  height: 300px;
  font-size: 20px;
  margin: 10px;
  line-height: 5px;
}

.res-logo {
  width: 100px;
  margin: 10px;
}

.filter-button {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
